<!--
References config file variables:
	.Site.Params.logotype
	.Site.Params.footer
	.Site.Params.subfooter
	.Site.Copyright
-->
<footer class="footer">
  <div class="container content">
	<div class="has-text-centered">
		<p>{{ with .Site.Params.footer }}{{ . | safeHTML }}
			  {{ else }}{{ "Add config: Params.footer" }}{{end}}
		   </p>
		<hr>
		<div class="columns">
			<a href="http://museum.molndal.se"><img src="/img/museum_logo.png"
				alt="Museum Logo"/></a>
			<p class="has-text-grey is-size-7">
			{{ with .Site.Params.subfooter }} {{ . | safeHTML }}<br>
				{{ else }}{{ "Add config: Params.subfooter" }}{{end}} 
			</p>
		</div>
	</div>
  </div>
</footer>

